<%- include('header') -%>

<div class="container-fluid">
  <form method="post" onsubmit="return doPost(this)">
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" class="form-control" placeholder="Title">
    </div>

    <!-- Button trigger modal -->
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" type="button">
       Upload image
    </button>

    <div class="form-group">
      <label>Content</label>
      <textarea name="content" class="form-control" placeholder="Content"></textarea>
    </div>

    <input type="submit" value="Submit" class="btn btn-info">
  </form>
</div>

<script type="text/javascript">
  const doPost = form => {
    $.ajax({
      url: "/do-post",
      method: "post",
      data: {
        title: form.title.value, content: form.content.value, image: imagePath
      },
      success: res => {
        alert(res)
      }
    })

    return false
  }
</script>

<!-- Modal -->
<div class = "modal fade" id = "myModal" tabindex = "-1" role = "dialog"
   aria-labelledby = "myModalLabel" aria-hidden = "true">

   <div class = "modal-dialog">
      <div class = "modal-content">

         <div class = "modal-header">
            <h4 class = "modal-title" id = "myModalLabel">
               Upload image
            </h4>

            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">
              &times;
            </button>
         </div>

         <div class = "modal-body">
            <form id="form-upload" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <input type="file" name="file" class="form-control">
              </div>

              <input type="submit" class="btn btn-success" value="Upload">
            </form>
         </div>

      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

<script type="text/javascript">
  let imagePath

  $('#form-upload').on('submit', e => {
    e.preventDefault()
    let formData = new FormData()
    formData.append('file', $('input[type=file]')[0].files[0])

    $.ajax({
      url: "/do-upload-image",
      method: "post",
      data: formData,
      contentType: false,
      cache: false,
      processData: false,
      success: res => {
        imagePath = res
        $('#myModal').modal('hide')
      }
    })
  })
</script>

<%- include('footer') -%>
